    <article class="post">
      <div class="title">{{&title}}</div>
      <div class="meta">
        by <strong>{{user.username}}</strong> on
        {{format_date created_at}}
        |
        {{comments.length}} {{format_plural "comment" comments.length}}
      </div>
      <div class="content">
         <p>{{&format_posts content}}</p>
      </div>

    </article>
