
<h2 class="dashboard">Your Dashboard</h2>

{{#if posts.length}}
<section class="post">
    {{#each posts as |post|}}
    <div class="title-bar">
        <div class="title">
            <a href="/dashboard/edit/{{post.id}}" >{{&post.title}}</a>
        </div>
        <div class="meta">{{&format_date created_at}}</div>
    </div>
    <div class="content"></div>
    {{/each}}
</section>
{{/if}}

<section class="new-post-section">
   <a href="/dashboard/new"><button type="button">new { post }</button></a>
</section>
