<form class="login-signup-form">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit" id="login">login</button>
    <button type="button" id="signup" class="upvote-btn">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>