<form class="signup-form">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
  <div>
    <a href="/login/">Switch to login</a>
  </div>

</form>

<script src="/javascript/signup.js"></script>