* {
  box-sizing: border-box;
}


body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: 10px;
  border-radius: 5px;
  line-height: 1.6rem;
  width: 80%;
  border: 1px solid #ccc;
  font-family: sans-serif;
}

input {
  font-size: 19px;
  font-weight: bold;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 200px;
  font-size: 16px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

label {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.comment {
  clear: both;
}

header {
  background-color: #3486eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #fff;
  margin-bottom: 2%;
}

header h1 {
  font-size: 1.5em;
}

header h1 a {
  color: #fff;
}

header h1 a:hover {
  color: #fff;
}

header a {
  color: #fff;
}

header a:hover {
  color: #ff6;
}

main {
  flex: 1;
  padding: 0 30px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: #ff6;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title {
  float: left;
  font-size: 1.2rem;
  font-weight: bold;
}

.post .meta {
  float: right;
  color: #696969;
  font-style: italic;
}

.post .content {
  padding-top: 5px;
  clear: both;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin: 1% 0 5%;
}

.comment {
  padding: 1%;
}

.comment:nth-child(odd) {
  background-color: #dbe9f9;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}


.edit-post-form {
  margin-bottom: 5%;
}

.new-post-section {
  border-top: 1px #797979 solid;
  padding-top: 20px;
  margin-top: 40px;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}